/*@use "@material/list";

@include list.core-styles;

@use "@material/card";

@include card.core-styles;

@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";

@include icon-button.core-styles;

@use "@material/textfield";*/

main{  
    background-attachment: fixed;
    padding-bottom: 5%;
    margin: auto;
    width: 100%;
    background-image: fixed;
    background-size: 100% cover;
    display: flex;
    justify-content: center;
};

.zip {
    font-size: 50px;
}

.hero{
    display: flex;
    justify-content: center;
}

form {
    width: 40%;
}

.title{
    font-size: 30px;
    padding: 0 0 10px 5px;
}

.good-title h2 {
    font-size: 40px;
    font-style: italic;
}

h3 {
    font-size: 25px;
}

.hero p {
    margin: 5px 0 15px 0;
}


.mdc-card {
    background-color: rgba(38, 0, 93, 0.2);
}
.mdc-card--outlined {
    padding: 10px;
    margin-top: 10px;
}

.zip, .city{
   height: 25px; 
}

.age-radio{
    display: flex;
}

.radio-btns{
    padding: 15px 0 0 15px;
}

.age-no{
    size-adjust: 10px;
}


.date{
    height: 28px;
}

.find-btn{
    display: inline;
    padding-left: 5px;
    padding-bottom: 5px;
}
.mission-des{
    display: flex;
    justify-content: center;

}

.header-li{
    display: block;
    text-align: center;
    padding-bottom: 3%;
    font-size: 32px;
}
.map-event-img{
    width: 85%;
}
.event-name{
    padding-bottom: 5px;
    font-size: 24px;
}

footer{
    background-color: #6200ee;
    display: flex;
    justify-content: right;
}