/*@use "@material/list";

@include list.core-styles;

@use "@material/card";

@include card.core-styles;

@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";

@include icon-button.core-styles;

@use "@material/textfield";*/

*{
    font-family: Roboto, sans-serif;
}

main{  
    background-attachment: fixed;
    padding-bottom: 2rem;
    margin: auto;
    width: 100%;
    background-image: fixed;
    background-size: 100% cover;
    display: flex;
    justify-content: center;
};

.zip {
    font-size: 50px;
}

.hero{
    display: flex;
    justify-content: center;
}

.form-header{
    border: #6200ee solid;
    border-radius: 12px;
}

.form-header, h3, p{
    padding: 2px 0px 0px 2px;
}

form {
    width: 40%;
    padding-left: 10px;
}

.title{
    font-size: 30px;
    padding: 0 0 10px 5px;
}

.good-title{
    background-image: url(https://media-exp1.licdn.com/dms/image/C561BAQE-51J-8KkMZg/company-background_10000/0/1548357920228?e=2147483647&v=beta&t=wrOVYN8qrGon9jILrMQv78FsyOV4IMQxr_3UjYtUREI);
    background-size: cover;
    border: solid #6200ee; 
    border-radius: 12px; 
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.good-title h2 {
    font-size: 40px;
    font-style: italic;
    padding-bottom: 3%;
}

h3 {
    font-size: 25px;
}

.hero p {
    margin: 5px 0 15px 0;
}


.mdc-card {
    background-color: rgba(38, 0, 93, 0.2);
}
.mdc-card--outlined {
    padding: 10px;
    margin-top: 10px;
}

.zip, .city{
   height: 25px; 
}

.age-radio{
    display: flex;
}

.radio-btns{
    padding: 15px 0 0 15px;
}

.age-no{
    size-adjust: 10px;
}


.date{
    height: 28px;
}

.find-btn{
    margin: 6px 0px 6px 0px;
}
.mission-des{
    display: flex;
    justify-content: center;

}

.header-li{
    display: block;
    text-align: center;
    padding-bottom: 3%;
    font-size: 40px;
}
.map-event-img{
    border-radius: 14%;
    border: solid #6200ee;
    width: 100%;
    height: unset;
}
.event-name{
    padding: 13px;
    font-size: 24px;
    background-color: #6200ee;
    color: white;
    border-radius: 12px;
}


.event-name a{
    color: white;
}

.about_header{
    padding: 13px;
    font-size: 24px;
    background-color: #6200ee;
    color: white;
    border-radius: 12px;
}

footer{
    background-color: #6200ee;
    display: block;
    text-align: center;
    padding: 1rem 0px 1rem 0px;
    color: white;
}

li.mdc-card{
    margin-bottom: 2%;
    border: solid #6200ee;
    line-height: 2rem;
    font-family: Roboto, sans-serif;
    border-radius: 12px;
}

.event-info{
    padding: 11px 0px 0px 11px;
    border: solid 3px #7624b1;
}

.about-us h3{
    background-color: #6200ee;
    color: white;
    font-size: 24px;
}

.mission-des{
    text-align: center;
    padding-bottom: 20px;
    line-height: 30px;
}